[submodule "imx-atf"]
	path = imx-atf
	url = https://source.codeaurora.org/external/imx/imx-atf.git
[submodule "imx-mkimage"]
	path = imx-mkimage
	url = git@github.com:TsuReX/imx-mkimage.git
[submodule "imx-optee-os"]
	path = imx-optee-os
	url = https://source.codeaurora.org/external/imx/imx-optee-os.git
[submodule "imx-uboot"]
	path = imx-uboot
	url = git@github.com:TsuReX/imx-uboot.git
